
<ion-content>
  <body>
  <!-- <div>
    <ion-button routerLink="/select-entry" (click)="download()">Mapas Salvos</ion-button>  
    <ion-button id="FileLocal" (click)="takePicture()">Camera</ion-button>
  </div> -->
  <div id="icone" style="text-align: center;">

    <img class="gps" src="assets/map-shopping/telainiciall/iconeMap.png" alt="icone Map"
    >

  </div>

    <h3 class="titulo" style=" margin-top: 100%;">Bem-Vindo</h3>

  <div class="botao">
    <div class="Rec91" (click)="startScan()">
       <h1>Ler QR Code</h1>
    </div>

    <div class="Rec94" routerLink="/entradas-map" mode="ios">
      <h1>Ir ao Mapa</h1> 
    </div>
  </div>
  
  <!-- =========== DESIGN NUVENS ================= -->
 <div class="center">
   <div id="cloud"></div>
   <div id="cloud2"></div>
   <div id="cloud3"></div>
 </div>

  </body>
 
</ion-content>


